.container {
  margin-inline: auto;
  padding-inline: 40px;
}

.app {
  display: flex;
  gap: 40px;
  margin-top: 80px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }
}

.mode-switcher {
  display: flex;
  flex-direction: column;
  gap: 5px;
  white-space: nowrap;
  font-size: 14px;
  color: var(--color-dark-blue);
}

@media (max-width: 768px) {
  .mode-switcher {
    flex-direction: row;
    gap: 20px;
  }
}

.mode--not-selected {
  opacity: 0.4;
  text-decoration: underline;
  text-underline-offset: 4px;
}
